<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>timeSheetservlet</servlet-name>
        <servlet-class>controller.timeSheetservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>overtimeSheet</servlet-name>
        <servlet-class>controller.overtimeSheet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>attendenceControleer</servlet-name>
        <servlet-class>controller.attendenceControleer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>attController</servlet-name>
        <servlet-class>controller.attController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>overtimeSheet</servlet-name>
        <url-pattern>/overtimeSheet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>attendenceControleer</servlet-name>
        <url-pattern>/attendence</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>attController</servlet-name>
        <url-pattern>/loadAtt</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
